<!DOCTYPE html>
<html lang="zh-CN"  ng-app="base64">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MingleChang</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js"></script>

    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/tools/base64.css">

    <script src="/public/js/tools/base64.js"></script>

</head>
<body ng-controller="base64">
    <div ng-include="'/public/html/header.html'"></div>

    <div id="headBg">
        <div id="headTitle" class="container">工具 - base64</div>
    </div>
    <!-- 输入框 -->
    <div class="container">
        <div id="textBg" class="row">
            <div class="col-xs-12 col-sm-6">
                <textarea id="sourceText" placeholder="Base64加密内容粘贴在这里" ng-model="sourceText"></textarea> 
            </div>
            <div class="col-xs-12 col-sm-6">
                <textarea id="encryptText" placeholder="Base64解密内容粘贴在这里" ng-model="encryptText"></textarea>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="buttonDiv" class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a id="button" class="btn" type="button" ng-click="encrypt()">Base64加密</a>
            </div>

            <div id="buttonDiv" class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a id="button" class="btn" type="button" ng-click="decrypted()">Base64解密</a>
            </div>

            <div id="clearButtonDiv" class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                <a id="clearButton" class="btn" type="button" ng-click="clear()">清空结果</a>
            </div>
        </div>
    </div>

    <div id="introBg" class="container">
        <div id="introTitle">工具简介</div>
        <div id="introContent">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Base64编码要求把3个8位字节（3*8=24）转化为4个6位的字节（4*6=24），之后在6位的前面补两个0，形成8位一个字节的形式。 如果剩下的字符不足3个字节，则用0填充，输出字符使用‘=’，因此编码后输出的文本末尾可能会出现1或2个‘=’。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了保证所输出的编码位可读字符，Base64制定了一个编码表，以便进行统一转换。编码表的大小为2^6=64，这也是Base64名称的由来。</p>
        </div>

    </div>

    <div ng-include="'/public/html/footer.html'"></div> 

</body>
</html>