<!DOCTYPE html>
<html lang="zh-CN"  ng-app="hashEncrypt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MingleChang</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js"></script>

    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/tools/hashEncrypt.css">


    <script src="/public/js/tools/hashEncrypt.js"></script>

</head>
<body ng-controller="hashEncrypt">
    <div ng-include="'/public/html/header.html'"></div>

    <div id="headBg">
        <div id="headTitle" class="container">工具 - 散列/哈希</div>
    </div>

    <!-- 输入框 -->
    <div class="container">
        <div id="textBg" class="row">
        <div  class="col-xs-12 col-sm-6">
            <div>明文</div>
            <textarea id="sourceText" placeholder="请输入要加密的字符串" ng-model="sourceText"></textarea> 
        </div> 
        <div  class="col-xs-12 col-sm-6">
            <div>哈希值</div>
            <textarea id="encryptText" placeholder="加密后的字符串" ng-model="encryptText"></textarea>
        </div>
        </div>
    </div>
    <!-- 密码输入 -->
    <div class="container" ng-show="visible">
        <span>密码：</span><input ng-model='password'>
    </div>
    <!-- 按钮 -->
    <div class="container">
        <div id="buttonBg" class="row">
            <div id="encryptButtonDiv" ng-repeat="encrypt in encrypts" class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                <a id="encryptButton" class="btn" type="button" ng-click="buttonClick(encrypt)">{{encrypt.name}}</a>
            </div>
            

            <div id="clearButtonDiv" class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                <a id="clearButton" class="btn" type="button" ng-click="clear()">清空结果</a>
            </div>
        </div>

        
    </div>

    <div id="introBg" class="container">
        <div id="introTitle">工具简介</div>
        <div id="introContent">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;哈希算法将任意长度的二进制值映射为较短的固定长度的二进制值，这个小的二进制值称为哈希值。哈希值是一段数据唯一且极其紧凑的数值表示形式。如果散列一段明文而且哪怕只更改该段落的一个字母，随后的哈希都将产生不同的值。要找到散列为同一个值的两个不同的输入，在计算上是不可能的，所以数据的哈希值可以检验数据的完整性。一般用于快速查找和加密算法。</p>
        </div>

    </div>

  <div ng-include="'/public/html/footer.html'"></div> 

</body>
</html>