{% extends "blog/base.html" %}

{%block title%}  
MingleChang
{%endblock%}

{%block link%} 
{% load staticfiles %} 
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}" />
{%endblock%}  
{%block content%}  
<ul class="list-unstyled">
	{%for blog in blog_list%}
     	<li>
        <a href={% url 'blog:detail' blog.id %}>
          <p id="blog_title" class="list-group-item-heading">{{blog.title}}</p>
          <p class="list-group-item-text">{{blog.pub_date}}</p>
        </a>
    	</li>
    {%endfor%}
</ul>
{%endblock%}