{% extends "blog/base.html" %}

{%block title%}  
MingleChang
{%endblock%}

{%block link%} 
{% load staticfiles %} 
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css' %}" />
{%endblock%}  
{%block content%}  
<ul class="list-unstyled">
	{%for blog in blog_list%}
     	<li>
        <a class="blog_title" href={% url 'blog:detail' blog.id %}>{{blog.title}}</a>
        </br>
        {% for sign in blog.signs.all %}
        <span class="blog_sign">{{sign.title}}</span>
        {%endfor%}
        <span class="blog_date">{{blog.pub_date}}</span>
    	</li>
    {%endfor%}
</ul>
{%endblock%}