#headBg {
	background-color: #e0e0e0;
	padding-top: 30px;
	padding-bottom: 30px;
}

#headTitle {
	font-size: 30px;
	color: #333333;
}

#infoBg {
	text-align:center;
	margin:0 auto;
	border-color:#e0e0e0;
	border-width:1px;
	border-style:solid;
	border-radius:10px;
	margin-top:10px;
	padding:10px;
	max-width:700px;
}

#hint {
	font-size: 14px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#udidButton {
	padding-top: 10px;
	padding-bottom: 10px;
}

#qrImg {
	margin-top: 10px;
	margin-bottom: 10px;
}

#udidIntro {
	font-size:12px;
	color:#999999;
	margin-top:10px;
	margin-bottom:10px;
	max-width:500px;
}